<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keen&Able Intern Noida</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="script.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <img src="https://images.thecompanycheck.com/companylogo/FOSTERING_LINUX_SERVICES_PRIVATE_LIMITED.webp"
            alt="Logo">
        <div>
            <ul>
                <li><a href="/" id="homeLink">HOME</a></li>
                <li><a href="/program" id="programLink">PROGRAM</a></li>
                <li><a href="/aboutUs" id="aboutUsLink">ABOUT US</a></li>
                <li><a href="/contactUs" id="contactUsLink">CONTACT US</a></li>
                <li><a href="/applyNow" id="applyNowLink">APPLY NOW</a></li>
            </ul>
        </div>
    </nav>

    <!-- About Us Content -->
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>
      
      <h2 class="team" style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Jane" style="width:100%">
            <div class="container_about">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Mike" style="width:100%">
            <div class="container_about">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="John" style="width:100%">
            <div class="container_about">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Jane" style="width:100%">
            <div class="container_about">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Mike" style="width:100%">
            <div class="container_about">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="John" style="width:100%">
            <div class="container_about">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Jane" style="width:100%">
            <div class="container_about">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="Mike" style="width:100%">
            <div class="container_about">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://t3.ftcdn.net/jpg/00/71/63/98/360_F_71639854_0LDSa6HiRcK14knhfoIPqlbuHHoz7Say.jpg" alt="John" style="width:100%">
            <div class="container_about">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <footer class="foot">

       @copyright
      </footer>
</body>

</html>