<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keen&Able Intern Noida</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="script.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <img src="https://images.thecompanycheck.com/companylogo/FOSTERING_LINUX_SERVICES_PRIVATE_LIMITED.webp"
            alt="Logo">
        <div>
            <ul>
                <li><a href="/" id="homeLink">HOME</a></li>
                <li><a href="/program" id="programLink">PROGRAM</a></li>
                <li><a href="/aboutUs" id="aboutUsLink">ABOUT US</a></li>
                <li><a href="/contactUs" id="contactUsLink">CONTACT US</a></li>
                <li><a href="/applyNow" id="applyNowLink">APPLY NOW</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <h2 class="apply_heading">Join Us and Launch Your Career!</h2>
<p class="apply_p">We're passionate about helping future professionals like you gain valuable skills and experience through our internship program.</p>

<!-- <h3 class="apply_headings">Why Intern with Us?</h3>
<ul class="apply_ul">
  <li class="apply_li">Develop in-demand skills in [your industry]</li><br>
  <li class="apply_li">Work on real-world projects that make a difference</li><br>
  <li class="apply_li">Learn from experienced mentors and colleagues</li><br>
  <li class="apply_li">Network with industry professionals</li><br>
  <li class="apply_li">Gain valuable resume experience</li>
</ul> -->

<!-- <h3 class="apply_heading">Program Details</h3>
<p class="apply_p" >Learn more about program structure, eligibility, and key learning outcomes.</p>
<a class="apply_a" href="program.html">Read More</a>

<h3 class="apply_heading">Testimonials</h3>
<p class="apply_p">Hear what past interns have to say about their experience.</p>
<h3 class="apply_heading">Ready to Apply?</h3>
<p class="apply_p">Click the button below to start your application.</p>
<a class="apply_a" href="apply-now.html">Apply Now</a>

<h3 class="apply_heading" >Frequently Asked Questions</h3>
<p class="apply_heading" >Find answers to frequently asked questions about the program.</p>
<h3 class="apply_heading">Contact Us</h3>
<p class="apply_p">Have questions? Don't hesitate to contact us.</p>

    <div> -->
      <!-- <h3 class="apply_up">Ready to brighten Up your Future !</h3>
      <p class="apply_up">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
     </div> -->
<div class="container_apply">
  <img class="image2" src="https://www.pngmart.com/files/11/Technology-Transparent-PNG.png" alt="">
  <div class="apply_box">
    <h1>Registration Form</h1>
    <!-- <span class="title_small">(Here)</span> -->
    <Form action="">
      <div class="form_container">
        <div class="form_control">
          <!-- <label for="first_name">First Name</label> -->
          <input id="first_name" name="first_name" placeholder="Enter First Name" required type="text">
        </div>
        <div class="form_control">
          <!-- <label for="last_name">Last Name</label> -->
          <input id="last_name" name="first_name" placeholder="Enter Last Name" required type="text">
        </div>
        <div class="form_control">
          <!-- <label for="pincode">Pincode</label> -->
          <input type="text" id="number" name="number" placeholder="Enter Mobile Number" required>
        </div>
        <div class="form_control">
          <!-- <label for="email">Email</label> -->
          <input id="email" name="email" placeholder="Enter Email" required type="text">
        </div>
        <div class="form_control">
          <!-- <label for="eductation">Qualification</label> -->
          <select name="education" id="education" required >
            <option value="">Select Qualification</option>
            <option value="12th">12th</option>
            <option value="Diploma">Diploma</option>
            <option value="Graduation">Graduation</option>
            <option value="Post Graduation">Post Graduation</option>
          </select>
        </div>
          <div class="form_control">
            <!-- <label for="address">Address</label> -->
            <input type="text" name="address" id="address"  placeholder="Enter Address" required>
          </div>
          <div class="form_control">
            <!-- <label for="city">City</label> -->
            <input type="text" id="city" name="city" placeholder="Enter City Name" required >
          </div>
          <div class="form_control">
            <!-- <label for="date">D.O.B</label> -->
            <input  value="1999-01-01" type="date" id="date" name="date" required>
          </div>
          <div class="form_control">
            <!-- <label for="upload">Upload Resume</label> -->
            <input type="file" id="upload" name="upload" required>
          </div>
          <div class="button_container">
            <button type="submit">Submit</button>
          </div>
      </div>
    </Form>
  </div>
</div>
<br><br><br>

<footer class="foot">

  @copyright
 </footer>

</body>

</html>