<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keen&Able Intern Noida</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <!-- <link rel="stylesheet" href="/sidebarprogram.css"> -->
    
    </head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <img src="https://images.thecompanycheck.com/companylogo/FOSTERING_LINUX_SERVICES_PRIVATE_LIMITED.webp"
            alt="Logo">
        <div>
            <ul>
                <li><a href="/" id="homeLink">HOME</a></li>
                <li><a href="/program" id="programLink">PROGRAM</a></li>
                <li><a href="/aboutUs" id="aboutUsLink">ABOUT US</a></li>
                <li><a href="/contactUs" id="contactUsLink">CONTACT US</a></li>
                <li><a href="/applyNow" id="applyNowLink">APPLY NOW</a></li>
            </ul>
        </div>
    </nav>
    <!-- Side navigation -->
    <ul id="sidebar_program">
        <li><a href="/overview_program" id="overview_program">Overview</a></li>
        <li><a href="/roadmap_program" id="roadmap_program">Roadmap</a></li>
        <li><a href="/criteria_program" id="criteria_program">Criteria</a></li>
        <li><a href="/career_program" id="career_program">Career</a></li>
    </ul>
    
    <div id="main_overview_program">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, aspernatur.</p>
    </div>

</body>
<script src="script.js"></script>
</html>